<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="73f2eea3-451c-4341-b76c-5f48cca2d35e"
            Publisher="CN=Chenliang"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>SimpleClient</DisplayName>
    <PublisherDisplayName>Chenliang</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="SimpleClient.App">
        <VisualElements
            DisplayName="SimpleClient"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="SimpleClient"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>